schemas/epc.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
	<xs:element name="epc">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="metadata">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="replacement" minOccurs="0" type="epcList"/>
							<xs:element name="proposal">
								<xs:complexType>
									<xs:attribute name="efp" type="xs:positiveInteger" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="body">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="preamble" type="content" minOccurs="0"/>
							<xs:element ref="section" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="sn" type="xs:positiveInteger" use="required"/>
			<xs:attribute name="title" type="xs:string" use="required">
				<xs:simpleType>
					<xs:restriction>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="created" type="xs:date" use="required"/>
			<xs:attribute name="version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[1-9]\d*-[1-9]\d*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="status" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="draft"/>
						<xs:enumeration value="deferred"/>
						<xs:enumeration value="provisional"/>
						<xs:enumeration value="active"/>
						<xs:enumeration value="deprecated"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="epcList">
		<xs:sequence>
			<xs:element name="epc" type="xs:positiveInteger" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="section">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="content" type="content" minOccurs="0"/>
				<xs:element ref="section" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="title" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="sectionContent"><!-- TBD -->
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="clause" type="content"/>
			<xs:element name="note" type="content"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="content" mixed="true">
		<xs:complexContent>
			<xs:extension base="xs:token">
				<xs:choice maxOccurs="unbounded" minOccurs="0">
					<!-- Some elements are referred from HTML and Writerside XML Markup -->
					<xs:element name="a">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="content">
									<xs:attribute name="href" type="xs:anyURI" use="required"/>
									<xs:attribute name="download" type="xs:string"/>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="code">
						<xs:complexType mixed="true">
							<xs:choice minOccurs="0" maxOccurs="unbounded">
								<xs:element name="i" type="content"/>
								<xs:element name="b" type="content"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="code-block" type="xs:string">
						<xs:complexType mixed="true">
							<xs:attribute name="lang" type="xs:string"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="br"/>
					<xs:element name="dl">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="li">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="content">
												<xs:attribute name="title" type="xs:string" use="required"/>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="i" type="content"/>
					<xs:element name="b" type="content"/>
					<xs:element name="u" type="content"/>
					<xs:element name="p" type="content"/>
					<xs:element name="img">
						<xs:complexType>
							<xs:attribute name="src" type="xs:anyURI" use="required"/>
							<xs:attribute name="alt" type="xs:string"/>
							<xs:attribute name="width" type="xs:string"/>
							<xs:attribute name="height" type="xs:string"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="embed">
						<xs:complexType>
							<xs:attribute name="src" type="xs:anyURI" use="required"/>
							<xs:attribute name="width" type="xs:string"/>
							<xs:attribute name="height" type="xs:string"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="list">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="li" type="content"/>
							</xs:sequence>
							<xs:attribute name="type" default="bullet">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="bullet"/>
										<xs:enumeration value="decimal"/>
										<xs:enumeration value="lower-alpha"/>
										<xs:enumeration value="none"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element ref="math:math" xmlns:math="http://www.w3.org/1998/Math/MathML"/>
					<xs:element name="kbd" type="xs:string"/>
					<xs:element name="table">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="tr" maxOccurs="unbounded">
									<xs:complexType>
										<xs:choice maxOccurs="unbounded">
											<xs:element name="th" type="content"/>
											<xs:element name="td" type="content"/>
										</xs:choice>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="tabs">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="tab" maxOccurs="unbounded">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="content">
												<xs:attribute name="title" type="xs:string" use="required"/>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="reference">
		<xs:sequence>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="author" type="xs:string"/>
			<xs:element name="date">
				<xs:complexType>
					<xs:attribute name="year" type="xs:gYear" use="required"/>
					<xs:attribute name="month" type="xs:gMonth"/>
					<xs:attribute name="day" type="xs:gDay"/>
					<xs:assert test="(not(@day) or @month)"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="seriesInfo">
				<xs:complexType>
					<xs:attribute name="name" type="xs:string" use="required"/>
					<xs:attribute name="value" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="target" type="xs:anyURI"/>
	</xs:complexType>
</xs:schema>
